alabaster==0.7.12
alembic==1.0.7
Babel==2.6.0
docutils==0.14
Flask==0.10.1
Flask-Env==2.0.0
Flask-Migrate==1.8.0
Flask-Script==2.0.6
Flask-SQLAlchemy==2.1
futures==3.2.0
imagesize==1.1.0
itsdangerous==1.1.0
Jinja2==2.10
Mako==1.0.7
MarkupSafe==1.1.0
packaging==19.0
progress==1.4
psycopg2==2.7.3.2
Pygments==2.3.1
pyparsing==2.3.1
python-dateutil==2.7.5
python-dotenv==0.10.1
python-editor==1.0.4
pytz==2018.9
requests==2.9.0
six==1.12.0
snowballstemmer==1.2.1
Sphinx==1.8.4
sphinxcontrib-websupport==1.1.0
SQLAlchemy==1.0.10
transaction==2.4.0
typing==3.6.6
Werkzeug==0.14.1
zope.interface==4.6.0
zope.sqlalchemy==0.7.7
